{minimum_otp_vsn, "R26"}.
{erl_opts, [
    debug_info
]}.

{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex
]}.


{deps, [
    {app_config,
        {git, "https://github.com/leapsight/app_config.git",
            {branch, "1.1.2"}
        }
    },
    {memory,
        {git, "https://github.com/Leapsight/memory.git",
            {branch, "master"}
        }
    },
    {utils,
        {git, "https://github.com/leapsight/utils.git",
            {tag, "1.4.2"}
        }
    },
    resulto,
    %% {leveled, "1.1.0-hex"}
    {leveled,
        {git, "https://github.com/martinsumner/leveled.git",
            {branch, "develop-3.4"}
        }
    },
    rocksdb,
    telemetry
]}.




%% =============================================================================
%% RELX
%% =============================================================================



{relx, [
    {release, {bondy_mst, "0.3.0"}, [
        %% Erlang
        compiler,
        crypto,
        debugger,
        inets,
        kernel,
        os_mon,
        runtime_tools,
        sasl,
        stdlib,
        tools,
        %% Third-parties
        app_config,
        utils,
        resulto,
        memory,
        leveled,
        rocksdb,
        bondy_mst
    ]},
    {dev_mode, false},
    {include_src, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [
          meck,
          {types, "0.1.8"}
        ]},
        {erl_opts, [nowarn_export_all]},
        {dist_node, [{name, 'ct@127.0.0.1'}]}
    ]}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [bondy_mst]}
]}.




%% =============================================================================
%% CODE QUALITY
%% =============================================================================


{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{covertool, [
    {coverdata_files, ["ct.coverdata"]}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir,"."}]}}
]}.

{ct_opts, [
    {sys_config, "config/sys.config"}
]}.

{proper_opts, [
    {numtests, 300}
]}.




%% =============================================================================
%% DOCS
%% =============================================================================


{hex, [
    {doc, #{provider => ex_doc}}
]}.


{ex_doc, [
    {name, "bondy_mst"},
    {source_url, <<"https://github.com/bondy-io/bondy_mst">>},
    {extras, [
        <<"README.md">>,
        <<"doc_extras/cheatsheet.cheatmd">>,
        <<"LICENSE">>,
        <<"CHANGELOG.md">>,
        <<"CODE_OF_CONDUCT.md">>
    ]},
    {main, <<"README.md">>},
    {api_reference, true}
]}.


