{minimum_otp_vsn, "R27"}.
{erl_opts, [
  debug_info
]}.


{deps, [
  {app_config,
      {git, "https://github.com/leapsight/app_config.git", {branch, "1.1.1"}}
  },
  %% {leveled, "1.1.0-hex"}
  {leveled,
    {git, "https://github.com/martinsumner/leveled.git", {branch, "develop-3.4"}}
  }
]}.


{relx, [
    {release, {erleans, "node"}, [
        %% Erlang
        compiler,
        crypto,
        debugger,
        inets,
        kernel,
        os_mon,
        runtime_tools,
        sasl,
        stdlib,
        tools,
        %% Third-parties
        app_config,
        leveled,
        bondy_mst
    ]},
    {dev_mode, false},
    {include_src, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [meck]},
        {erl_opts, [nowarn_export_all]},
        {dist_node, [{name, 'ct@127.0.0.1'}]}
    ]}
]}.


{shell, [
  {config, "config/sys.config"},
  {apps, [bondy_mst]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.


{ct_opts, [
  {sys_config, "config/sys.config"}
]}.