[
    {bondy_mst, [
        {store, [
            {leveled, [
                {root_path, "/tmp/bondy_mst/leveled"},
                {log_level, error}
            ]},
            {rocksdb, [
                {root_path, "/tmp/bondy_mst/rocksdb"}
            ]}
        ]}
    ]},
    {kernel, [
        {logger_level, error},
        {logger, [
            {filters, log, [
                {no_progress, {fun logger_filters:progress/2, stop}}
            ]},
            {handler, default, logger_std_h,
            #{formatter => {logger_formatter, #{
                template => [time," ", file,":",line," ",level,": ",msg,"\n"]}
            }}
        }]}
    ]}
].
